{% extends 'base.html.twig' %}

{% block title %}Madjid Booster - Notes{% endblock %}

{% block body %}

    <div class="notes-container sectionContainer transition">

        {% block filAriana %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumbs ">
                    <li class="element ">
                        <a href="{{ path('app_dashboard') }}" class="transition">
                            <span class="animationClickableText">Tableau de bord</span>
                        </a>
                    </li>

                    <li class="current">Cursus & Notes</li>
                </ol>
            </nav>
        {% endblock %}

        <section class="shadow">
            <h3 class="titleSection"><i class="fa-solid fa-graduation-cap"></i> Cursus & Notes </h3>
            <hr>

            <div class="notes-table">

                {% if notes %}

                    {% for note in notes %}



                        <div class="notesContent">
                            <div class="note-child leftEcts ">
                                {% if note.note >= 10 %}
                                    <p class="credit-ects success">{{ note.points}} ECTS</p>
                                {% elseif note.note < 10 and note.note >= 0 %}
                                    <p class="credit-ects failed">{{ note.points}} ECTS</p>
                                {% else %}
                                    <p class="credit-ects">{{ note.points}} ECTS</p>
                                {% endif %}


                            </div>

                            <div class="center-note">
                                <div class="note-child center">
                                    <p class="title"> {{ note.fullName}}  </p>
                                </div>

                                <div class="note-child right">
                                    <p class="note"> {{ note.note}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="no-information"> Aucune note n'est disponible pour le moment</p>
                {% endif %}



            </div>
        </section>
    </div>

{% endblock %}
