{% extends 'base.html.twig' %}

{% block title %}Madjid Booster - Liste des étudiants {% endblock %}

{% block body %}

    <div class="student-container sectionContainer transition">

        {% block filAriana %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumbs ">
                    <li class="element ">
                        <a href="{{ path('app_dashboard') }}" class="transition">
                            <span class="animationClickableText">Tableau de bord</span>
                        </a>
                    </li>

                    <li class="current">Gestion des étudiants</li>
                </ol>
            </nav>
        {% endblock %}


        <main class="container-two-rows">
            <section class="left-section shadow">
                <h3 class="titleSection"><i class="fa-solid fa-chalkboard-user"></i> Gestion des étudiants </h3>
                <hr>

                {% block listStudent %}

                    <div class="content">

                        <!-- Elément à boucler -->
                        <div class="card-container">
                            {% for student in allStudents %}
                                <a class="card shadow zoom" href="{{ path('app_student_details', {id: student.id}) }}">
                                    <div class="logo-nav ">
                                        {% if student.year == 1 %}
                                            <p class="actualYear one"> {{ student.actualYear }}</p>
                                        {% elseif student.year == 2 %}
                                            <p class="actualYear two"> {{ student.actualYear }}</p>
                                        {% elseif student.year == 3 %}
                                            <p class="actualYear three"> {{ student.actualYear }}</p>
                                        {% elseif student.year == 4 %}
                                            <p class="actualYear four"> {{ student.actualYear }}</p>
                                        {% elseif student.year == 5 %}
                                            <p class="actualYear five"> {{ student.actualYear }}</p>
                                        {% endif %}

                                        <i class="fa-solid fa-circle-user"></i>
                                        <p id="fullName">{{ student.firstName }} {{ student.lastName }}</p>
                                        <p id="role-student">- {{ student.campusName }} - </p>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    {{ knp_pagination_render(allStudents) }}

                {% endblock %}

            </section>

            <div class="right-section ">
                <div class="fixed">

                    <section class="shadow researchResult">
                        <p>{{ allStudents.getTotalItemCount }} étudiants trouvés </p>
                    </section>

                    <section class="shadow">
                        <h3 class="titleSection">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            Recherche
                        </h3>
                        <div class="researchContainer">
                            {{ knp_pagination_filter(allStudents, {
                                'research': 'research'})
                            }}
                        </div>
                    </section>

                    {% if app.user.roles|join == 'ROLE_ADMIN' %}

                        <section class="shadow">
                            <h3 class="titleSection">
                                <i class="fa-solid fa-map"></i>
                                Liste des campus
                            </h3>
                            <hr>

                            <div class="containerFilterCampus">
                                {% include  'filter/_campusFilter.html.twig' with {form: form} only %}
                            </div>
                        </section>
                    {% endif %}



                    <section class="shadow actionStudent">
                        <h3 class="titleSection"><i class="fa-solid fa-hammer"></i> Actions </h3>
                        <hr>

                        <a href="{{ path('app_student_add') }}" class="linkNewStudent zoom"><i class="fa-solid fa-plus"></i> Ajouter un étudiant </a>

                    </section>

                </div>
            </div>

        </main>

    </div>
{% endblock %}
