{% extends 'offer/show.html.twig' %}

{% block title %}Madjid Booster - Offres entreprises{% endblock %}


{% block filAriana %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumbs ">
            <li class="element ">
                <a href="{{ path('app_dashboard') }}" class="transition">
                    <span class="animationClickableText">Tableau de bord</span>
                </a>
            </li>

            <li class="element ">
                <a href="{{ path('show_offer') }}" class="transition">
                    <span class="animationClickableText">Offres entreprises</span>
                </a>
            </li>

            <li class="current"> {{ idOffer}} </li>
        </ol>
    </nav>
{% endblock %}

{% block sectionTitle %}

    {% if date(offer.datePublication) > date('-1days', 'Europe/Paris') %}
        {{ offer.title }}
        <span class="newOffer"> NEW </span>
    {% endif %}
 {% endblock %}

{% block content %}

    <!-- Design pour un élément des offres -->
    <div class="offerDetails">

        <div class="offerElements">
            <div class="element">
                <p class="type"> Type de contrat </p>
                <p class="text"> {{ offer.typeContract }} </p>
            </div>

            <div class="element">
                <p class="type"> Expérience requise </p>
                <p class="text"> {{ offer.experience }} </p>
            </div>

            <div class="element">
                <p class="type">Salaire </p>
                <p class="text"> {{ offer.salaire }}€ </p>
            </div>
        </div>

        <div class="presentation">
            <p class="title"> Description du poste </p>
            <p class="description">{{ offer.description }}
            </p>

            <p class="title"> Votre profil </p>
            <p class="description">{{ offer.profil }}
            </p>

            {% if offer.website %}
                <div class="websiteContainer">
                    <a target="_blank" href="https://{{ offer.website }}">Postuler sur le site de l'entreprise <i class="fa-solid fa-right-from-bracket"></i> </a>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block sectionRight %}

    {% if app.user.role.id != 12 %}

        <div class="right-section ">
            <div class="fixed">
                <section class="shadow actionStudent">
                    <h3 class="titleSection"><i class="fa-solid fa-hammer"></i> Actions </h3>
                    <hr>
                    <a href="{{ path('edit_offer', {id: idOffer }) }}" class="editOffer zoom"><i class="fa-solid fa-pen-to-square"></i> Éditer l'offre </a>
                    <p  class="deleteValidation transition" id="deleteOffer">
                        <i  class="fas fa-trash"></i>
                        Supprimer
                    </p>
                </section>
            </div>
        </div>

        <!-- Modal qui permet de valider la suppression de l'offre -->
        <div class="containerValidationMessage hidden shadow" id="modalDeleteOffer">
            <div class="centered">
                <h3>Confirmez-vous la suppression ?</h3>
                <p> Si vous confirmez, votre offre sera définitivement effacé</p>

                <!-- Delete -->
                <a  class="deleteValidation transition" href="{{ path('delete_offer', {id: idOffer}) }}">
                    <i  class="fas fa-trash"></i>
                    Supprimer
                </a>



                <!-- Cancel -->
                <button class="cancelValidation transition" id="cancelValidation">
                    <i  class="fas fa-times" ></i>
                    Annuler
                </button>
            </div>
        </div>


    {% endif %}

{% endblock %}
