{% extends 'base.html.twig' %}

{% block title %}Madjid Booster - {{ user.firstName }} {{ user.lastName }} {% endblock %}

{% block body %}

    <div class="student-container sectionContainer transition">

        {% block filAriana %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumbs ">
                    <li class="element ">
                        <a href="{{ path('app_dashboard') }}" class="transition">
                            <span class="animationClickableText">Tableau de bord</span>
                        </a>
                    </li>

                    <li class="element ">
                        <a href="{{ path('admin_intervenant')}}" class="transition">
                            <span class="animationClickableText">Gestion des intervenants</span>
                        </a>
                    </li>

                    <li class="current"> {{ user.firstName }} {{ user.lastName }} </li>
                </ol>
            </nav>
        {% endblock %}

        {% if error %}

            <section class="shadow errorBackground">
                <ul style="margin-left: 25px">
                    <li>{{ error }}</li>
                </ul>
            </section>

        {% endif %}

        {% if errorField %}

            <section class="shadow errorBackground">
                <ul style="margin-left: 25px">
                    <li>Les valeurs ne sont pas correctes.</li>
                </ul>
            </section>

        {% endif %}

        <div id="detailsIntervenant">
            <section class="left-section shadow" >



                <h3 class="titleSection">
                    <i class="fa-solid fa-circle-user"></i>
                    {{ user.firstName }} {{ user.lastName }}
                    {% if errorField %}
                        <span class="errorBackground errorTitle shadow"> {{ errorField }} </span>
                    {% endif %}

                </h3>



                <hr>

                <div class="personnalInformation">

                    <div class="typeStudent">
                        <p> <span> Rôle : </span>{{ user.role.name }} </p>
                        <p><span> Campus : </span> {{ user.campus.name }}</p>
                    </div>

                    <div class="contactStudent">
                        <p> <span><i class="fa-solid fa-envelope"></i></span> {{ user.email }}</p>
                        <p> <span><i class="fa-solid fa-location-dot"></i></span> {{ user.userExtended.address }}</p>
                        <p> <span><i class="fa-solid fa-earth-europe"></i></span> {{ user.userExtended.region }}</p>
                        <p> <span><i class="fa-solid fa-cake-candles"></i> </span> {{ user.userExtended.birthday|date("m/d/Y") }}</p>
                    </div>
                </div>
            </section>


            <!--
                Affichage sans l'édition
            -->
            <section class="shadow scolarInformationContainer">
                <div class="scolarInformation">
                    <h3 class="titleSection"><i class="fa-solid fa-book-open"></i> Liste des cours </h3>
                    <hr>

                    {% for subject in intervenantSubject %}

                        <div class="intervenant-container">
                            <div class="intervenantsTable">

                                <div class="section left">
                                    <p class="lessonName"> {{subject.campusName}} </p>
                                    <p class="lessonName" id="intervenantSubjectName"> {{subject.name}} </p>
                                </div>


                                <div class="section center">
                                      <p>{{ subject.fullName}} </p>
                                </div>

                                <div class="section right">
                                    {% if subject.intervenantId != null %}
                                        <a href="{{ path('admin_intervenant_delete', {intervenantId: subject.intervenantId, campusId: subject.campusId, subjectId: subject.id}) }}"
                                            class="delete zoom"
                                            id="deleteIntervenantSubject">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    {% endif %}
                                </div>

                            </div>

                        </div>

                    {% endfor %}
                </div>
            </section>

            <div class="btnContainer">
                <p class="editInformation zoom" id="editIntervenant"> Éditer les informations</p>
            </div>
        </div>


        <!-- PARTIE FORMULAIRE - LE MEMBRE DE L'EQUIPE PEDAGO VEUT MODIFIER LES INFORMATIONS DE L'UTILISATEUR -->
        <!--
             Affichage avec l'édition
             - Rajouter un CollectionType avec le campus, le cours,
         -->


        {{ form_start(form) }}
            <div id="formIntervenant" class="hidden">
                <section class="left-section shadow" >
                    <h3 class="titleSection">
                        <i class="fa-solid fa-circle-user"></i>
                        {{ form_widget(form.firstName) }}
                        {{ form_widget(form.lastName)}} </h3>
                    <hr>

                    <div class="personnalInformation">

                        <div class="typeStudent">
                            <p> <span> Rôle : </span>{{ user.role.name }} </p>
                            <p><span> Campus : </span> {{ form_widget(form.campus) }}</p>
                        </div>

                        <div class="contactStudent">
                            <p> <span><i class="fa-solid fa-envelope"></i></span> {{  user.email  }}</p>
                            <p> <span><i class="fa-solid fa-location-dot"></i></span> {{ form_widget(form.address) }}</p>
                            <p> <span><i class="fa-solid fa-earth-europe"></i></span> {{ form_widget(form.region) }}</p>
                            <p> <span><i class="fa-solid fa-cake-candles"></i> </span> {{ user.userExtended.birthday|date("m/d/Y") }}</p>
                        </div>
                    </div>
                </section>


                <!--
                Affichage sans l'édition
            -->
                <section class="shadow scolarInformationContainer">
                    <div class="scolarInformation">
                        <h3 class="titleSection"><i class="fa-solid fa-book-open"></i> Liste des cours </h3>
                        <hr>

                        {% for subject in intervenantSubject %}

                            <div class="intervenant-container">
                                <div class="intervenantsTable">

                                    <div class="section left">
                                        <p class="lessonName"> {{subject.campusName}} </p>
                                        <p class="lessonName" id="intervenantSubjectName"> {{subject.name}} </p>
                                    </div>


                                    <div class="section center">
                                        <p>{{ subject.fullName}} </p>
                                    </div>

                                    <div class="section right">
                                        {% if subject.intervenantId != null %}
                                            <a href="{{ path('admin_intervenant_delete', {intervenantId: subject.intervenantId, campusId: subject.campusId, subjectId: subject.id}) }}"
                                               class="delete zoom"
                                               id="deleteIntervenantSubject">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        {% endif %}
                                    </div>

                                </div>

                            </div>

                        {% endfor %}
                    </div>
                </section>

                <!--
                    Affichage avec l'édition
                -->
                <section class="shadow scolarInformationContainer">
                    <div class="scolarInformation">
                        <h3 class="titleSection"><i class="fa-solid fa-plus"></i> Ajouter des cours </h3>
                        <hr>

                        <!-- Bouton qui permet de rajouter des intervenants à l'infini -->
                        <div class="addNewSubjectContainer transition" id="addNewSubject" data-collectionHolderClass="listNewSubject">
                            <a>
                                <i class="fa-solid fa-plus"></i>
                                Ajouter un cours
                            </a>
                        </div>

                        <div class="listNewSubject transition"
                             data-index="{{ form.subjects|length > 0 ? form.subjects|last.vars.name + 1 : 0 }}"
                             data-prototype="{{ form_widget(form.subjects.vars.prototype)|e('html_attr') }}">

                        </div>
                        {{ form_end(form) }}

                    </div>
                </section>



                <div class="btnContainer">
                    <button class="submitNewInformation zoom" type="submit">
                        <i class="fa-solid fa-circle-check" style="margin-right: 5px"></i> Valider les modifications
                    </button>
                    <a class="cancelInformation zoom" style="text-decoration: none;" id="cancelIntervenant"> Annuler</a>
                </div>
            </div>
    </div>


    <div class="containerValidationMessage hidden shadow" id="modalDeleteSubjectIntervenant">
        <div class="centered">
            <h3>Confirmez-vous la suppression ?</h3>
            <p> Si vous confirmez, votre l'intervenant ne sera plus attribuer à ce cours</p>

            <!-- Delete -->
            <a  class="deleteValidation transition" href="{{ path('admin_intervenant_delete', {id: intervenantId}) }}">
                <i  class="fas fa-trash"></i>
                Supprimer
            </a>



            <!-- Cancel -->
            <button class="cancelValidation transition" id="cancelValidation">
                <i  class="fas fa-times" ></i>
                Annuler
            </button>
        </div>
    </div>

{% endblock %}