{% extends 'base.html.twig' %}

{% block title %}Madjid Booster - Gestion des intervenants{% endblock %}


{% block body %}

    <div class="student-container sectionContainer transition">

        {% block filAriana %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumbs ">
                    <li class="element ">
                        <a href="{{ path('app_dashboard') }}" class="transition">
                            <span class="animationClickableText">Tableau de bord</span>
                        </a>
                    </li>

                    <li class="current">Gestion des intervenants</li>
                </ol>
            </nav>
        {% endblock %}


        <main class="container-two-rows">
            <section class="left-section shadow">
                <h3 class="titleSection"><i class="fa-solid fa-chalkboard-user"></i> Gestion des intervenants </h3>
                <hr>

                {% block listCours %}
                    <div class="content">

                        {% if intervenants %}
                            <!-- Elément à boucler -->
                            <div class="card-container">
                                {% for intervenant in intervenants %}
                                    <a class="card shadow zoom" href="{{ path('admin_intervenant_details', {id: intervenant.id}) }}">
                                        <div class="logo-nav ">
                                            <p class="actualYear four"> {{ intervenant.campusName }}</p>
                                            <i class="fa-solid fa-chalkboard-user" style="color: #053869"></i>
                                            <p id="fullName">{{ intervenant.firstName }} {{ intervenant.lastName }}</p>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>

                            {{ knp_pagination_render(intervenants) }}

                        {% else %}
                            <p class="no-information">Aucun intervenant n'est présent pour le moment.</p>
                        {% endif %}
                    </div>

                {% endblock %}

            </section>

            <div class="right-section ">
                <div class="fixed">

                    <section class="shadow researchResult">
                        <p>{{ intervenants.getTotalItemCount }} intervenants trouvés </p>
                    </section>

                    <section class="shadow">
                        <h3 class="titleSection">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            Recherche
                        </h3>
                        <div class="researchContainer">
                            {{ knp_pagination_filter(intervenants, {
                                'research': 'research'})
                            }}
                        </div>
                    </section>


                    {% if app.user.roles|join == 'ROLE_ADMIN' %}

                        <section class="shadow">
                            <h3 class="titleSection"><i class="fa-solid fa-chalkboard-user"></i> Promotions </h3>
                            <hr>

                            <div class="containerFilterCampus">
                                {% include  'filter/_campusFilter.html.twig' with {form: form} only %}
                            </div>
                        </section>
                    {% endif %}



                    <section class="shadow actionStudent">
                        <h3 class="titleSection"><i class="fa-solid fa-hammer"></i> Actions </h3>
                        <hr>

                        <a href="{{ path('admin_intervenant_add') }}" class="linkNewStudent zoom"><i class="fa-solid fa-plus"></i> Ajouter un intervenant </a>

                    </section>

                </div>
            </div>

        </main>

    </div>
{% endblock %}
