{% extends 'base.html.twig' %}

{% block title %} Madjid Booster - Dashboard {% endblock %}

{% block body %}

    <div class="section-dashboard">

        <div class="left-section">
            <!--
                Dashboard - Affichage du nombre de crédits TOTAUX, du nombres de stages et des finances
            -->

            <section class="elementGlobal-container shadow transition">

                <h3 class="title-dashboard"><i class="fa-solid fa-house"></i> Dashboard </h3>
                <hr>

                {% if app.user.role.id == 12 %}


                    <div class="elementGlobal-content">
                        <a href="{{ path('app_notes') }}" class="element zoom" id="globalECTS">

                                <span> {{ ectsTotal }} </span>
                                <p>ECTS </p>

                        </a>
                        <a href="{{ path('show_offer') }}" class="element zoom" id="globalOpportunities">
                            <div >
                                <span> {{ offersTotal }} </span>
                                <p>Offres entreprises </p>
                            </div>
                        </a>

                        <a href="{{ path('app_user_comptability') }}" class="element zoom" id="globalFinance">
                            <div >
                                <span> {{ comptability }} </span>
                                <p>Comptabilité </p>
                            </div>
                        </a>
                    </div>
                {% endif %}

            </section>

            <section class="listLesson-container shadow transition" >
                <h3 class="title-dashboard"><i class="fa-solid fa-graduation-cap"></i> Master of Science </h3>
                <hr>

                <div class="listLesson-parent">

                    {% if cours %}
                        {% for cours in cours %}
                            <a href="{{ path('app_cours_details', {id: cours.id}) }}">
                                <div class="listLesson-content shadow transition">
                                    <div class="imgBackground"></div>
                                    <p class="title"> {{ cours.name }} </p>
                                    <p>{{ cours.points }} ECTS</p>
                                </div>
                            </a>

                        {% endfor %}

                    {% else  %}

                        <p class="no-information">Aucun cours n'est disponible pour le moment.</p>

                    {% endif %}
                </div>
            </section>
        </div>

        <div class="right-section">
            <div class="fixed">
                <!--
               Affiche les dernières notes de l'étudiant
            -->
                <section class="lessons-container shadow transition">
                    <h3 class="title-dashboard"><i class="fa-solid fa-clock"></i> Agenda </h3>
                    <hr>

                    {% if agenda %}

                        {% for date in agenda %}
                            <div class="lesson-content">
                                <p class="date"> <span> {{ date.date|date('d/m') }}</span> {{ date.name }}</p>
                                <p class="time"> {{ date.date_begin }} - {{ date.date_end }}</p>
                            </div>
                        {% endfor %}

                    {% else %}

                        <p class="no-information">Aucun cours n'est programmé pour le moment</p>

                    {% endif %}

                </section>

                <!--
                    Affiche les dernières notes de l'étudiant
                -->

                <section class="notes-container shadow transition">
                    <h3 class="title-dashboard"><i class="fa-solid fa-medal"></i> Dernières évaluations </h3>
                    <hr>
                    <!-- Boucle for sur toutes les notes de l'utilisateur (ou les 5 dernières) -->

                    {% if userGrades %}
                        {% for grade in userGrades %}
                            <div class="note-content">
                                <i class=" {{ grade.status == true ? 'fa-solid fa-circle-check check' : 'fa-solid fa-circle-xmark failed' }}"></i>
                                <p class="nameLesson check {{ grade.status == true ? 'nameLesson check' : 'nameLesson failed' }}"> {{ grade.name }} </p>
                                <p class="noteStudent check {{ grade.status == true ? 'noteStudent check' :'noteStudent failed' }}"> {{ grade.grade }} / 20</p>
                            </div>
                        {% endfor %}
                    {% else %}

                        <p class="no-information">Aucune note n'est disponible pour le moment</p>

                    {% endif %}

                </section>
            </div>

        </div>
    </div>
{% endblock %}
