{% extends 'base.html.twig' %}

{% block title %}Madjid Booster - {{  cours.name }}{% endblock %}

{% block body %}

    <div class=" sectionContainer transition">

        {% block filAriana %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumbs ">
                    <li class="element ">
                        <a href="{{ path('app_dashboard') }}" class="transition">
                            <span class="animationClickableText">Tableau de bord</span>
                        </a>
                    </li>

                    <li class="element">
                        <a href="{{ path('app_cours') }}" class="transition">
                            <span class="animationClickableText">Cours</span>
                        </a>
                    </li>

                    <li class="element  current"> {{ cours.name }} </li>
                </ol>
            </nav>
        {% endblock %}

        <main class="container-two-rows">
            <section class="left-section listLesson-container shadow transition">

                <h3 class="titleSection"><i class="fa-solid fa-book-open"></i> {{ cours.fullName }} - {{ cours.points }} ECTS   </h3>
                <hr>

                <p class="no-information">Les détails de ce cours ne sont pas disponibles.</p>

            </section>

            <div class="right-section">
                <div class="fixed">
                    <section class="shadow">
                        <h3 class="titleSection"><i class="fa-solid fa-chalkboard-user"></i> Détails du cours </h3>
                        <hr>

                        <!-- Afficher le nom de l'intervenant qui propose le cours (en fonction du campus sélectionné -->
                        {% if intervenant %}
                            <div class="intervenantContainer ">
                                <div class="fullNameContainer intervenantSubject">
                                    <i class="fa-solid fa-user"></i> {{ intervenant.firstName }} {{ intervenant.lastName}}
                                </div>
                                <div class="fullNameContainer intervenantSubject">
                                    <i class="fa-solid fa-envelope"></i>  {{ intervenant.email }}
                                </div>

                                <br>

                                <div class="fullNameContainer intervenantSubject">
                                    {% if isValidated >= 10 %}
                                        <p class="boxIsValidated validated"><i class="fa-solid fa-check" style="margin-right: 10px"></i> {{ isValidated }} / 20 </p>
                                    {% elseif isValidated < 10 and isValidated  %}
                                        <p class="boxIsValidated failed"><i class="fa-solid fa-xmark" style="margin-right: 10px"></i> {{ isValidated }} / 20 </p>
                                    {% else %}
                                        <p class="boxIsValidated"> -- / 20 </p>
                                    {% endif %}
                                </div>
                            </div>
                        {% else  %}

                            <!-- Afficher tous les étudiants sans les notes  -->
                            <p class="no-information"> Aucun intervenant n'est assigné à ce cours pour le moment. </p>

                        {% endif %}

                    </section>
                </div>
            </div>
        </main>


    </div>

{% endblock %}
