{% extends 'base.html.twig' %}

{% block title %}Madjid Booster - Ajouter un cours {% endblock %}

{% block body %}

    <div class="sectionContainer transition">

        {% block filAriana %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumbs ">
                    <li class="element ">
                        <a href="{{ path('app_dashboard') }}" class="transition">
                            <span class="animationClickableText">Tableau de bord</span>
                        </a>
                    </li>

                    <li class="element ">
                        <a href="{{ path('app_cours_campus')}}" class="transition">
                            <span class="animationClickableText">Gestion des cours</span>
                        </a>
                    </li>

                    <li class="current"> Ajouter un cours </li>
                </ol>
            </nav>
        {% endblock %}

        {% if error or errorDiminutif %}
            <section class="shadow errorBackground">
                <ul style="margin-left: 25px">

                    {% if error %}
                        <li>Le diminutif doit avoir 5 caractères.</li>
                    {% endif %}

                    {% if errorDiminutif %}
                        <li> Le cours est déjà présent.</li>
                    {% endif %}

                </ul>
            </section>
        {% endif %}

        {{ form_start(form) }}
        <main class="container-two-rows">
            <div class="left-section">

                <section class="shadow" style="margin-bottom: 25px !important">
                    <!-- Formulaire pour éditer le titre -->
                    <h3 class="titleSection">

                        <i class="fa-solid fa-book-open"></i>
                        {{ form_widget(form.name) }}
                        {{ form_widget(form.fullName) }}

                        {% if error or errorDiminutif %}
                            <span class="errorBackground errorTitle shadow"> ERREUR </span>
                        {% endif %}

                    </h3>
                    <!---------------------------------------->
                    <hr>

                    <p class="labelNewCours"> Année : {{ form_widget(form.year) }} </p>
                    <p class="labelNewCours"> Points : {{ form_widget(form.points) }} </p>


                </section>



                <section class="shadow">
                    <h3 class="titleSection"><i class="fa-solid fa-chalkboard-user"></i> Intervenants </h3>
                    <hr>

                    <!-- Bouton qui permet de rajouter des intervenants à l'infini -->
                    <div class="addNewIntervenantContainer">
                        <a id="addNewIntervenant" href="#" data-collectionHolderClass="listNewIntervenant">
                            <i class="fa-solid fa-plus"></i>
                            Ajouter un intervenant
                        </a>
                    </div>

                    <div class="listNewIntervenant transition"
                         data-index="{{ form.intervenants|length > 0 ? form.intervenants|last.vars.name + 1 : 0 }}"
                         data-prototype="{{ form_widget(form.intervenants.vars.prototype)|e('html_attr') }}">
                    </div>

                    {{ form_end(form) }}
                </section>



                <button class="submitNewInformation zoom" type="submit" style="margin-top: 25px;">
                    <i class="fa-solid fa-circle-check" style="margin-right: 5px"></i> Créer le cours
                </button>



            </div>
        </main>

    </div>


{% endblock %}
